@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/cosmo/variables.less";
@import "~bootswatch/cosmo/bootswatch.less";
@import "~flatpickr/dist/flatpickr.dark.min.css";
@import "~bootstrap-multiselect/dist/less/bootstrap-multiselect.less";

.card {
  .content {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    height: 100px;
    overflow: hidden;
    padding: 1.25rem;
  }

  .card-title {
    margin-bottom: .75rem;
  }
}