<style>
  .navbar.navbar-default {
    margin-top: 15px;
  }
</style>

<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-lg-12">
            <div class="row pt-md">

              <div class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">TL Lunch Chooser</a>
                  </div>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a @click="login()" v-show="!authenticated" href="#">Login</a></li>
                      <li><a @click="logout()" v-show="authenticated" href="#">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <router-view></router-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Auth from '../auth'
import Vue from 'vue';
import Auth0Lock from 'auth0-lock';

export default {
  data() {
    return {
      authenticated: false
    }
  },
  ready() {
    this.authenticated = Auth.checkAuth();
  },
  methods: {
    login() {
      var self = this;
      var lock = new Auth0Lock('f0ht7gw31V7ihFeGwGVIr8DWGZj0xxzL', 'memymo.auth0.com');

      lock.show((err, profile, token) => {
        if(err) {
          console.log(err)
        } else {
          // Set the token and user profile in local storage
          localStorage.setItem('profile', JSON.stringify(profile));
          localStorage.setItem('id_token', token);
          self.authenticated = true;
        }
      });
    },
    logout() {
      var self = this;
      localStorage.removeItem('id_token');
      localStorage.removeItem('profile');
      self.authenticated = false;
      router.go('/');
    }
  }
}
</script>
