<template>
  <list-item :item="item"  v-for="item in items"></list-item>
  <div class="card col-sm-3">
    <div class="content">
      <a v-if="authenticated" @click="showModal = true" href="#" class="btn btn-primary btn-lg new-item-btn">New</a>
    </div>
  </div>

  <new-item-modal :show.sync="showModal"></new-item-modal>
</template>

<style>
  .new-item-btn{
    width: 100%;
    height: 100%;
    line-height: 1.8;
  }
</style>

<script>

import Vue from 'vue'
import firebaseApp from '../firebase'
import Auth from '../auth'

export default {
  data() {
    return {
      items: [],
      authenticated: false,
      showModal: false
    }
  },
  ready() {
    this.authenticated = Auth.checkAuth();
    this.getItems();
  },
  methods: {
    getItems: function() {
      var self = this;
      firebaseApp.firebaseDB.ref('items').on('value', function(snapshot) {
        var original = snapshot.val();

        self.items = _.mapObject(original, function (value, key) {
            value.id = key;
            return value;
        });
      });
    }
  }
};
</script>