<template>
  <div>
    <h1>SOMETHING HERE</h1>
  </div>
</template>

<script>
import firebaseApp from '../firebase'
import Vue from 'vue'

export default{
  data() {
    return {}
  },
  ready: function() {},
  methods: {}
};
</script>