<template>
  <div class="card col-sm-3">
    <div class="content" v-link="{ path: '/items/' + this.item.id }">
      <h4 class="card-title">{{item.date}}</h4>
      <p class="card-text"><b>Winner:</b> {{item.winner}}</p>
    </div>    
  </div>
</template>

<script>
import firebaseApp from '../firebase'
import Vue from 'vue'
import moment from 'moment';

export default{
  data() {
    return {}
  },
  props: ['item'],
  ready: function() {},
  methods: {}
};
</script>