<template>
  <div class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">
      <div class="modal-container">
        <span class="close-modal-btn" @click="cancel()"><i class="glyphicon glyphicon-remove"></i></span>

        <div class="modal-header">
          <slot name="header">Create a new Item</slot>
        </div>
        
        <div class="modal-body">
          <form role="form" autocomplete="off">
            <div class="row">

              <div class="col-xs-12 new-option-row">
                <div class="col-xs-4">
                  <input class="form-control" id="date-picker" placeholder="Date">
                </div>

                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Add a new option" v-model="newChoice">
                  <span class="input-group-btn">
                    <a class="btn btn-primary add-new-option" href="#" @click="newOption()">+</a>
                  </span>
                </div>                
              </div>

              <div class="col-xs-12">
                <h4>Choose your options</h4>
                <ul class="list-group">
                  <li class="list-group-item col-xs-6" v-for="choice in choices">
                    <label>
                      <input type="checkbox" v-model="choice.enabled"> {{choice.text}}
                    </label>
                  </li>
                </ul>
              </div>

            </div>
          </form>
        </div>

        <div class="modal-footer">
          <a class="btn btn-danger" href="#" role="button" @click="cancel()">Cancel</a>
          <a class="btn btn-primary" href="#" role="button" @click="save()">Submit</a>
        </div>

      </div>
    </div>
  </div>
</template>

<style>
  .close-modal-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .choose-option-row {
    text-align: right;
  }
  .new-option-row {
    margin-bottom: 15px;
  }
  .new-option-row > div{
    padding-left: 0;
  }
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    position: relative;
    width: 50%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header {
    position: relative;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }

  .modal-enter, .modal-leave {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>

<script type="text/ecmascript-6">
import 'bootstrap-multiselect'
import flatpickr from 'flatpickr'
import firebaseApp from '../firebase'
import Vue from 'vue'

export default {
  data: function() {
    return {
      choices: [],
      newChoice: ''
    }
  },
  props: {
    show: {
      type: Boolean,
      required: true,
      twoWay: true    
    }
  },
  ready: function() {
    flatpickr('#date-picker');
    $('#example-getting-started').multiselect({
      disableIfEmpty: true
    });
  },
  methods: {
    save: function() {
      this.close();
    },
    cancel: function() {
      this.close();
    },
    close: function() {
      this.show = false;
    },
    newOption: function() {
      this.choices.push({text: this.newChoice, enabled: false})
    }
  }
};
</script>
