<template>
  <h1>SOMETHING PRIVATE!</h1>
</template>

<script>

import Auth from '../auth'

export default {
  data() {
    return {}
  },
  methods: {},
  route: {
    canActivate() {
      return Auth.checkAuth();
    }
  }
}
</script>